{% extends "bootstrap/base.html" %}
{% block title %}
Web Interface to SMS dialer
{% endblock title %}

{% block head %}
{{ super() }}

    <script src="{{url_for('.static', filename='js/snap.svg-min.js')}}"></script>
{% endblock head %}

{% block styles %}

    <!-- custom css files -->
    <link href="{{url_for('.static', filename='css/bootstrap.custom.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('.static', filename='img/favicon.png')}}">
{{ super() }}
{% endblock styles %}

{% block navbar %}
<nav role="navigation" class="navbar navbar-white">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

            <a class="brand" href="/">
                <!-- <svg id="svg-blastoff" width="100px" viewBox="0 0 100 100" preserveAspectRatio="xMinyMin meet" ></svg> -->
                <img id="rocket-logo" class="img-responsive" src="{{url_for('.static', filename='img/scifi-rocketblastoff.png')}}">
            </a>

    </div>

    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/admin"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
        </ul>
    </div>
</nav>
{% endblock navbar %}

{% block content %}

<div class="custom-content">
    {% if debug %}
    <div class="custom-debug">
    <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Blastoff!</strong>
            {{ debug }}
        </div>
                </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    {% endif %}

    {% if update == False %}
    {# ---------------- Default page ------------------- #}
    <form class="form-phone-input" role="form" action="{{ url_for('websms') }}" method="post">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input type="hidden" name="state-machine" value="query">
                <div class="input-group input-group-lg">

                    <span class="input-group-addon glyphicon glyphicon-earphone" id="phone-glyph"></span>
                    <input type="text" name="phone-number" class="form-control input-lg" {% if phone %}value="{{ phone }}" {% endif %}>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="submit">
                            Go!
                        </button>
                    </span>
                </div>

            </div>
            <div class="col-lg-4"></div>
        </div>
    </form>
    {% elif user %}
    {# ---------------- Update user entry ------------------- #}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><h2 class="text-center">Update user details</h2></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row data-grid">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <form role="form" action="{{ url_for('websms') }}" method="post">
                <input type="hidden" name="state-machine" value="update">
                <div class="form-group">
                    <label for="phone">Phone Number: *</label>
                    <input type="text" id="phone" name="phone-number" class="form-control input-lg" value="{{ user.number }}">
                </div>
                <div class="form-group">
                    <label for="name">Your Name: *</label>
                    <input type="text" id="name" name="name" class="form-control input-lg" value="{{ user.name }}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_active" value="OK" {% if user.active %} checked {% endif %}>Activate Subscription
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_bd" value="BD" {% if user.alert_on_beam_down %} checked {% endif %}>Beam Down
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_br" value="BR" {% if user.alert_on_beam_up %} checked {% endif %}>Beam Restored
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_fsm" value="FSM" {% if user.alert_on_fsm %} checked {% endif %}>FSM Message Updates
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_blam" value="BLAM" {% if user.alert_on_blam %} checked {% endif %}>Science Group Meetings
                    </label>
                </div>
                <button class="btn btn-default btn-lg" type="submit" name="submit_select" value="save">Update User</button>
                <button class="btn btn-default btn-lg" type="submit" name="submit_select" value="test">Test!</button>
            </form>
        </div>
        <div class="col-lg-5"></div>
    </div>

    {% else %}
    {# ---------------- Create new user entry ------------------- #}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><h2 class="text-center">Create new user</h2></div>
        <div class="col-lg-4"></div>
    </div>
    <form role="form" action="{{ url_for('websms') }}" method="post">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <!-- <form class="form-phone-input" role="form" action="{{ url_for('websms') }}" method="post"> -->
                <input type="hidden" name="state-machine" value="new">
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone-number" class="form-control input-lg" value="{{ phone }}">
                </div>
                <div class="form-group">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" class="form-control input-lg" >
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription_active" value="OK" {% if user.active %} checked {% endif %}>Activate Subscription
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription" value="BD">Beam Down
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription" value="BR">Beam Restored
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription" value="FSM">FSM Message Updates
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="subscription" value="BLAM">Science Group Meetings
                    </label>
                </div>
                <button class="btn btn-default btn-lg" type="submit" name="submit_select" value="save">Save New User</button>
                <button class="btn btn-default btn-lg" type="submit" name="submit_select" value="test">Test!</button>
            <!-- </form> -->
        </div>
        <div class="col-lg-5"></div>
    </div>
        </form>
    {% endif %}

</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock scripts %}